@model BattleBoardGame.Model.Batalha
@{
    ViewData["Title"] = "Lobby";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using static BattleBoardGame.Model.Factory.AbstractFactoryExercito;

<h2>Lobby</h2>


<div class="container">
    <div class="row">
        <div class="col-md-5">
            <p style="text-align:right">
                @if (!@String.IsNullOrEmpty(Model.ExercitoBranco.Usuario.PrimeiroNome))
                {
                    @Model.ExercitoBranco.Usuario.PrimeiroNome
                }
                else
                {
                    @Model.ExercitoBranco.Usuario.Username
                }
                <select id="NacaoExercitoBranco" style="margin-left:20px;" class="btn btn-default dropdown-toggle" asp-items="Html.GetEnumSelectList<Nacao>()"></select>
            </p>
        </div>
        <div class="col-md-2">
            <p style="text-align:center">VS</p>
        </div>
        <div class="col-md-5">
            <p style="text-align:left;">
                @if (Model.ExercitoPreto != null)
                {
                    <select id="NacaoExercitoPreto" style="margin-right:20px;" class="btn btn-default dropdown-toggle" asp-items="Html.GetEnumSelectList<Nacao>()"></select>

                    @if (!@String.IsNullOrEmpty(Model.ExercitoPreto.Usuario.PrimeiroNome))
                    {
                        @Model.ExercitoPreto.Usuario.PrimeiroNome
                    }
                    else
                    {
                        @Model.ExercitoPreto.Usuario.Username
                    }
                }
                else
                {
                <p>Esperando o próximo jogador...</p>
            }
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary"
                        onclick="iniciarBatalha('@Model.Id');">
                    Iniciar Jogo
                </button>
            </div>
        </div>

        @section Scripts{
            <environment include="Development">
                <script src="~/js/IniciarBatalha.js"></script>
            </environment>
            <environment exclude="Development">
                <script src="~/js/IniciarBatalha.js"></script>
            </environment>

        }
